@font-face{

    font-family: 'Bernard';
    
    src: url('../fonts/BERNHC.TTF') format('truetype');
    
    font-weight: normal;
    
    font-style: normal;
    
    }

@font-face{

    font-family: 'Ambit';
        
    src: url('../fonts/Ambit-Bold.ttf') format('truetype');
        
    font-weight: bold;
        
    font-style: normal;
        
    }

@font-face{

    font-family: 'Ambit-Regular';
    
    src: url('../fonts/Ambit-Regular.ttf') format('truetype');
            
    font-weight: normal;
            
    font-style: normal;
            
}

@font-face {
    font-family: 'Ambit-Light';
    
    src: url('../fonts/Ambit-Light.ttf') format('truetype');
    
    font-weight: lighter;

    font-style: normal;
}

@font-face {
    font-family: 'Ambit-Contur';
    
    src: url('../fonts//Ambit-Contur.ttf') format('truetype');

    font-weight: bold;

    font-style: normal;
}