@import "../css/fonts.css";

/*DEFAULT STYLES*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li  {
    list-style: none;
}
img {
    vertical-align: top;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #E7E7E7;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
}
/*DEFAULT STYLES*/

.carcas{
    overflow-x: hidden;
}

.header {
    background: url("../img/background.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    width: 100%;
    padding: 30px 20px 0 20px;
    margin-bottom: 100px;
}

.container {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #fff;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;

  width: 300px;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Ambit-Regular';
  font-size: 20px;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
/* <<<<<<<<<<<<<<<< HEADER TEXT >>>>>>>>>>>>>>>>>>>>*/

.header__content {
    padding: 180px 0 0 70px;
    display: flex;
}



.header__title {
    width: 781px;
    height: 166px;
    text-transform: uppercase;
    font-family: 'Ambit';
    color: #fff;
    font-size: 72px;
    line-height: 83px;
    margin-bottom: 50px;
}

.header__title span {
    font-family: 'Ambit-Contur';
    font-size: 72px;
}

.header__uptitle {
    font-family: 'Ambit-Light';
    font-size: 48px;
    line-height: 55px;
    color: #FFFFFF;
}

.header__down-title {
    font-family: 'Ambit';
    text-transform: uppercase;
    font-size: 54px;
    color: #FFFFFF;
    line-height: 62px;
    padding-top: 16px;
    margin-bottom: 82px;
}

.header__btn {

    font-family: 'Ambit';
    font-size: 30px;
    color: #161616;
    background: #FFF72B;
    width: 469px;
    height: 87px;
    border-radius: 50px;
    transition: all .3s cubic-bezier(.2, 0, 0, 1)
}

.header__btn:hover{
    background: #ffcc00;
    color: black;
}

/* <<<<<<<<<<<<<<<< HEADER IMAGE >>>>>>>>>>>>>>>>>>>>*/
.header__image {
    padding-left: 82px;
    max-width: 782px;
    height: 537px;
}

/* <<<<<<<<<<<<<<<< HEADER IMAGE >>>>>>>>>>>>>>>>>>>>*/
.header__image img {
    width: 100%;
    display: inline-block;
    overflow-x: hidden;
}

.header__scroll-down a {
    padding-top: 178px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Ambit-Regular';
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
}

.header__scroll-down p {
    padding-left: 30px;
}

/* @media only screen and (min-width: 769px) and (max-width: 1698px) {

} */

@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    .header {
        margin-bottom: 50px;
    }

    .header__content {
        padding: 125px 0 0 0;
        text-align: center;
        justify-content: center;
    }

    .header__title {
        font-size: 50px;
        line-height: normal;
        margin-bottom: 0;
    }

    .header__title span {
        font-size: 65px;
    }

    .header__uptitle {
        font-size: 35px;
    }

    .header__down-title {
        font-size: 54px;
        line-height: normal;
        padding-top: 15px;
        margin-bottom: 25px;
    }

    .header__btn {
        margin-bottom: 35px;
    }

    .header__scroll-down a {
        padding-top: 0;
        line-height: normal;
        padding-bottom: 35px;
    }

    .header__image{
        display:none; 
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

    .header {
        margin-bottom: 45px;
    }

    .header__content {
        padding: 90px 0 0 0;
        height: 450px;
        justify-content: center;
    }

    .header__text {
        text-align: center;
    }

    .header__image {
        display: none;
    }

    .header__title {
        width: auto;
        height: auto;
        font-size: 21px;
        line-height: normal;    
        margin-bottom: 16px;
    }

    .header__uptitle {
        font-size: 15px;
        line-height: normal;
    }

    .header__down-title {
        font-size: 25px;
        line-height: normal;
        margin-bottom: 50px;
        padding-top: 16px;
    }

    .header__title > span {
        font-size: 40px;
    }

    .header__btn {
        font-size: 20px;
        width: 278px;
        height: 55px;
    }

    .header__scroll-down a {
        padding-top: 0px;
        padding-bottom: 35px;
    }
}

/* <<<<<<<< MAIN >>>>>>>>>>>>>>>>> */

.main {
    background-color: #E7E7E7;
    text-align: center;
}

.main__title-wrap{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 15px 30px ;
    margin-bottom: 50px;
    /* margin-top: 100px; */
    background: #F4EE42;
    width: 60%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.main__title {    

    font-family: 'Ambit';
    font-size: 64px;
    color: #161616;
    display: table-cell; 
    vertical-align: middle

}

.main__list-game {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 12px 14px 20px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    margin-bottom: 100px;
    padding: 50px 0;

}

.game {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1530px;
    padding-bottom: 4%;
    transition: ease-in-out 0.6s;
}

.game:hover {
    transform: translateX(20px);
    cursor: pointer;
}

.game:last-child {
    padding-bottom: 0;
}

.game > div{
    flex-basis: 30%;
}

.main__game-text {
    margin-left: 94px;
}

.main__game-title {
    font-family: 'Ambit';
    font-size: 48px;
    line-height: 55px;
    text-align: initial;
}



.main__game-uptitle {
    font-family: 'Ambit-Regular';
    font-size: 32px;
    text-align: initial;
    padding: 0.8em 0em;
}

.main__game-rating{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main__game-rating > div{
    width: 85px;
    height: 80px;
    background: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.game__button {
    font-family: 'Ambit';
    font-size: 30px;
    color: #161616;
    background: #FFF72B;
    width: 364px;
    height: 73px;
    border-radius: 50px;
    transition: all .3s cubic-bezier(.2, 0, 0, 1)
}

.game__button:hover{
    background: #ffcc00;
    color: black;
}


.main__game-rating-title {
    font-family: 'Ambit';
    font-size: 48px;
    text-transform: uppercase;
    padding-bottom: 15%;
    color: #000;
}

/* << MEDIA min 768 and 1024px >> */

@media only screen and (min-width: 768px) and (max-width: 1416px) {
    .main__title {
        font-size: 37px;
    }

    .main__list-game {
        width: 90%;
        margin: 0 auto;
        padding: 25px 0;
    }


    .game {
        flex-direction: column;
        justify-content: center;
    }

    .main__game-img {
        margin-bottom: 25px;
    }

    .main__game-text {
        margin-left: 0;
        margin-bottom: 25px;
    }

    .main__game-title {
        font-size: 27px;
        text-align: unset;
        line-height: normal;
    }

    .main__game-uptitle {
        font-size: 15px;
        text-align: center;
    }

    .main__game-rating-title {
        font-size: 22px;
        padding-bottom: 25px;
    }

    .game__button {
        font-size: 22px;
        width: 210px;
        height: 45px;
    }

    .main__game-rating > div {
        width: 50px;
        height: 50px;
    }
}

/* << MEDIA min 768 and 1024px >> */

/* << MEDIA min 320 and 767px >> */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

    .main__list-game {
        padding: 25px 25px;
        width: 90%;
        margin: 0 auto;
    }

    .main__title-wrap {
        width: 90%;
        margin-bottom: 25px;
    }

    .main__title {
        font-size: 25px;
    }


    .game {
        flex-direction: column;
        padding-bottom: 15%;
    }
    
    .main__game-img > img {
        width: 100%;
    }
    
    .main__game-text {
        margin-left: 0;
    }

    .main__game-title {
        font-size: 25px;
        text-align: unset;
    }

    .main__game-uptitle {
        font-size: 16px;
        text-align: unset;
        padding: 0 0 0.8em 0;
    }

    .game__button {
        font-size: 20px;
        width: 155px;
        height: 40px;
    }

    .main__game-rating-title {
        font-size: 35px;
        padding: 10% 0;
    }

    .main__game-rating > div {
        width: 35px;
        height: 35px;
    }
}
/* <<<<<<<< MAIN >>>>>>>>>>>>>>>>> */

/*<<<<<<<<<<<<<<< YUKON SECTION >>>>>>>>>>>>>>>>>>>>>*/

.yukon-section {
    margin-bottom: 250px;
}

.yukon__wrapp {
    display: flex;
    justify-content: space-between;
}

.yukon__title-wrap {
    display: flex;
    justify-content: center;
    padding: 15px 30px ;
    margin-bottom: 50px;
    background: #F4EE42;
    width: 40%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.yukon__title {
    font-family: 'Ambit';
    font-size: 64px;
    color: #161616;
    display: table-cell; 
    vertical-align: middle
}

.yukon__deposit {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 12px 14px 20px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    margin-bottom: 100px;
    padding: 50px 0;

}

.yukon__offer {
    width: 45%;
    padding-left: 80px;
}

.yukon__offer-title {
    font-family: 'Ambit';
    font-size: 64px;
    color: #000000;
    border-bottom: 2px solid #000000;
    margin-bottom: 40px;
    padding-bottom: 40px;

}

.yukon__offer-chance {
    font-family: 'Ambit-Light';
    font-size: 48px;
}

.yukon__offer-uptitle {
    font-family: 'Ambit';
    font-size: 36px;
    margin-top: 120px;
    margin-bottom: 59px;
    color: #000;
}

.yukon__offer-jackpot {
    font-family: 'Ambit-Light';
    font-size: 40px;
    color: #000000;
    margin-bottom: 50px;
}

.yukon__methods {
    width: 55%;
    margin-left: 5%;
}

.yukon__methods-img {
    margin-bottom: 50px;
    
}

.yukon__methods-img > img {
    width: 90%;
}

.yukon__variant-text {
    font-family: 'Ambit';
    font-size: 36px;
    color: #000000;
    margin-bottom: 40px;
}

.yukon__debit-wrapp {
    display: flex;
}

.yukon__debit-wrapp img {
    padding-right: 37px;
    height: 65px;
    transition: ease-in-out 0.6s;
}

.yukon__debit-wrapp img:last-child {
    padding-right: 0;
}

.yukon__debit-wrapp img:hover {
    transform: translateX(20px);
    cursor: pointer;
}

.yukon__footer {
    font-family: 'Ambit-Regular';
    font-size: 32px;
    color: #000000;
}


@media only screen and (min-width: 768px) and (max-width: 1416px) {

    .yukon__deposit {
        width: 90%;
        margin: 0 auto 25px;
    }

    .yukon__cube-img {
        display: none;
    }

    .yukon__title-wrap {
        width: 80%;
        margin-top: 50px;
    }

    .yukon__title {
        font-size: 48px;
    }

    .yukon__offer {
        width: 40%;
        padding-left: 35px;
    }

    .yukon__offer-title {
        font-size: 36px;
        text-align: center;
    }

    .yukon__offer-uptitle {
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .yukon__offer-chance {
        font-size: 19px;
        text-align: center;
    }

    .yukon__offer-jackpot {
        font-size: 19px;
    }

    .yukon__btn {
        font-size: 22px;
        width: 235px;
        height: 55px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .yukon__debit-cards {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .yukon__variant-text {
        font-size: 26px;
    }

    .yukon__debit-wrapp {
        flex-wrap: wrap;
        justify-content: center;
    }

    .yukon__footer-wrap {
        width: 80%;
        margin: 0 auto;
    }

    .yukon__footer {
        font-size: 24px;
        display: flex;
        text-align: center;
    }

    .yukon-section {
        margin-bottom: 50px;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .yukon__cube-img {
        display: none;
    }

    .yukon__title-wrap {
        width: 70%;
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
    }

    .yukon__title {
        font-size: 25px;
    }

    .yukon__deposit {
        flex-direction: column-reverse;
        padding: 25px 0;
        width: 90%;
        margin: 0 auto;
    }

    .yukon__offer {
        width: auto;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .yukon__offer-title {
        font-size: 36px;
        margin-bottom: 25px;
        padding-bottom: 25px;
    }

    .yukon__offer-uptitle {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .yukon__offer-jackpot {
        font-size: 26px;
        margin-bottom: 35px;
    }

    .yukon__offer-chance {
        font-size: 26px;
    } 

    .yukon__methods {
        width: auto;
        margin-left: 0;
    }

    .yukon__methods-img > img {
        width: 95%;
    }

    .yukon__debit-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .yukon__debit-wrapp {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
    }

    .yukon__debit-wrapp > img {
        padding-right: 15px;
        margin-top: 20px;
    }

    .yukon__footer {
        font-size: 26px;
    }

    .yukon__footer-wrap {
        width: 80%;
        text-align: center;
        margin: 35px auto;
    }
    
    .yukon-section {
        margin-bottom: 0;
    }


}



/*<<<<<<<<< YUKON >>>>>>>>>>>>>*/

.block__games {
    background-color: #fff;
    padding-bottom: 300px;
}

.block__games-item {
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
}

.block__card {
    width: 50%;
    filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.4));  
    position: relative;
}

.block__games-btn {
    width: 30%;
    height: 15%;
    position: absolute;
    right: 45px;
    bottom: 40px;
    font-size: 2.2rem;
    
}

.block__card > img {

    width: 100%;
    display: inline-block;
    overflow-x: hidden;
}


@media only screen and (min-width: 768px) and (max-width: 1416px) {
    .block__games-item {
        padding-top: 50px;
    }

    .block__card {
        width: 48%;
        filter: none;
        margin: 0 auto;
    }

    .block__games {
        padding-bottom: 50px;
    }

    .block__games-btn {
        right: 20px;
        bottom: 20px;
        font-size: 1.2rem;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    
    .block__games {
        padding-bottom: 30px;
    }

    .block__games-item {
        padding-top: 30px;
        justify-content: center;
    }

    .block__card {
        width: 48%;
        filter: none;
    }

    .block__games-btn {
        width: 30%;
        height: 15%;
        right: 10px;
        bottom: 10px;
        font-size: 0.7rem;
    }
}

/*FOOTER */

.sign-up { 
    background-color: #2C2C2C;
    display: flex;
}

.sign-up__info {
    display: flex;
    padding: 80px 0;
    justify-content: space-between;
}

.sign-up__logo {
    margin-bottom: 48px;
}

.sign-up__casino {
    font-family: 'Ambit-Regular';
    font-size: 20px;
    color: #FFFFFF;
    opacity: 0.5;
    padding-top: 30px;
}

.first {
    padding-top: 0;
}


.sign-up__right {
    width: 900px;
}

.sign-up__right-title {
    font-family: 'Ambit-Regular';
    font-size: 36px;
    color: #fff;
    padding-bottom: 32px;
}

.sign-up__right-uptitle {
    font-family: 'Ambit-Light';
    font-size: 24px;
    color: #fff;
}

.sign-up__right-reg {
    display: flex;
    align-items: center;
    margin-top: 64px;
    
}

.sign-up__email {
    padding: 20px 140px 20px 20px;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 50px;
    background: #2C2C2C;
    font-size: 24px;
    font-family: 'Ambit-Light';
    outline: none;
}

.sign-up__btn {
    margin-left: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1416px) {

    .sign-up__left {
        margin-left: 5%;
        text-align: center;
    }

    .sign-up__casino {
            padding-top: 20px;
    }

    .sign-up__right {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sign-up__right-title {
        font-size: 26px;
    }

    .sign-up__right-uptitle {
        font-size: 17px;
    }

    .sign-up__email {
        padding: 10px 70px 10px 20px;
        font-size: 21px;
    }
}




@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .sign-up__info {
        padding: 50px 0;
    }

    .sign-up__left {
        text-align: center;
        width: 40%;
        margin-left: 5%;
    }

    .sign-up__logo a > img {
        width: 135px;
    }

    .sign-up__right {
        width: 40%;
        text-align: center;
        margin-right: 5%;
    }

    .sign-up__right-title {
        font-size: 20px;
    }

    .sign-up__right-uptitle {
        font-size: 20px;
    }

    .sign-up__right-reg {
        margin-left: -200px;
    }
    
    .sign-up__email {
        padding: 10px 15px 10px 20px;
        font-size: 17px;
    }

    .sign-up__btn {
        font-size: 16px;
    }
}

.footer {
    height: 100px;
    background: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    font-family: 'Ambit-Regular';
    font-size: 24px;
    color: #FFFFFF;
}